/* About Page Css*/
.aboutHero-div {
    margin-top: 8em;
    height: auto;
    padding: var(--padding);
    border: 1px solid salmon;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-areas: '. intro-div .';
}

.intro-div {
    grid-area: intro-div;
    border: 1px solid salmon;
    display: grid;
    grid-template-columns: 13% 80%;
    grid-template-rows: 50px 100pxfr;
    grid-template-areas:
        'waving opener-tag'
        'waving greetings';
}

.opener-tag {
    grid-area: opener-tag;
    font-size: 2rem;
    border: 1px solid salmon;
    color: rgba(240, 248, 255, 0.486);
}

.waving {
    grid-area: waving;
    width: 10em;
    height: 10em;
    color: #dec196;
    border: 1px solid salmon;
}

.greetings {
    grid-area: greetings;
    font-size: 6rem;
    color: aliceblue;
    border: 1px solid salmon;
}






.about-content-container {
    height: auto;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    padding: 4em;
    border: 1px solid salmon;
}

.about-content {
    width: 60%;
    border: 1px solid salmon;
}

.about-content p {
    color: aliceblue;
    margin: 1.5em;
    font-family: 'visby';
    font-size: 1.8rem;
}

.about-img {
    border: 1px solid salmon;
    align-self: center;
    padding-top: 6em;
}

@media(max-width:780px) {
    .intro-div {
        grid-template-columns: 20% 80%;
    }

    .aboutHero-div {
        grid-template-columns: 2% 98%;
        grid-template-areas: '. intro-div';
    }

    .opener-tag {
        font-size: 2rem;
    }

    .waving {
        width: 7em;
        height: 8em;
    }

    .greetings {
        font-size: 4rem;
    }

    .opener-tag {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1rem;
        color: rgba(240, 248, 255, 0.486);
    }

    .about-img {
        padding-top: 0;
        padding-left: 2em;
    }

    .about-content-container {
        flex-direction: column;
        padding: var(--padding);
    }

    .about-content {
        width: 100%;
        line-height: 2.1em;
    }

    .about-content p {
        font-family: 'visby';
        font-size: 1.5rem;
    }

    .about-content :first-child[type='p'] {
        margin-top: 0;
    }

    .about-img-content {
        width: 80%;
        margin-right: 2em;
    }
}

@media(max-width:480px) {
    .intro-div {
        grid-template-columns: 28% 70%;
    }

    .aboutHero-div {
        grid-template-columns: 100%;
        grid-template-areas: 'intro-div';
        margin-top: 4em;
    }

    .opener-tag {
        font-size: 2rem;
    }

    .waving {
        width: 4.5em;
        height: 6em;
    }

    .greetings {
        font-size: 1.9rem;
    }

    .opener-tag {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1rem;
        color: rgba(240, 248, 255, 0.486);
    }

    .about-img {
        width: 250px;
        padding: 0;
        margin: 0;
        margin-left: -2.2em;
    }

    .about-content-container {
        flex-direction: column;
        padding-top: 0;
    }

    .about-content {
        width: 100%;
        line-height: 2.1em;
    }

    .about-content p {
        font-family: 'visby';
        font-size: 1.3rem;
        margin: 1em;
    }

    .about-content :first-child[type='p'] {
        margin-top: 0;
    }


}